<div class="dog-list-item" style="background-image: url('{{dog.image_url}}');"   >
  {{#link-to 'dogs.show' dog}}
    <div class="panel panel-primary">
      <div class="panel-heading">
        {{dog.name}}
      </div>
        
   
    </div>
  {{/link-to}}
</div>
