<ul class="nav nav-pills nav-stacked">

  {{#link-to 'home' tagName="li" }}
    <a {{bind-attr href="home"}}>Home</a> 
  {{/link-to}}

  {{#link-to 'dogs' tagName="li"}}
    <a {{bind-attr href="dogs"}}>Dogs</a>     
  {{/link-to}}

  {{#link-to 'shelters' tagName="li"}}
    <a {{bind-attr href="shelters"}}>Shelters</a>      
  {{/link-to}} 

  {{#link-to 'breeds' tagName="li"}}
    <a {{bind-attr href="breeds"}}>Breeds</a> 
  {{/link-to}}

</ul>
