.dog-list-item {
  background-position: center center;
  background-size: cover;
  height: 350px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 5px solid whiteSmoke;
  
}

.dog-list-item:hover {
  border-color: #333399;

  font-weight: bold;
}

.dog-list-item .panel-body {
  /*height: 350px;*/
}

.dog-list-item a {
  height: 100%;
  display: block;
  width: 100%;
}



img.dog-image {
  max-width: 100%;
}
