<div class="row">
  <div class="col-md-12">
    <h2>Adopt a Dog in Birmingham</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h4>
        Adopt a Dog is a free service for finding rescue dogs available for re-homing in Birmingham.
      </h4>
      <hr />
      <p>
        This is an open source Ember.js-based front-end for the main <a href="http://dogs.saucyofharborne.co.uk/" target="_blank">Adopt a dog</a> app.
      </p>
      <p>
        The source for this application is <a href="https://github.com/OkayDave/birmingham-dogs-ember" target="_blank">available on Github</a>.
      </p>
      <p>
        The developer of these applications, <a href="https://uk.linkedin.com/pub/dave-russell/b/b59/a77" target="_blank">Dave Russell</a>, is (primarily) a Ruby on Rails developer available for hire. He's based in Birmingham, UK but has much experience working remotely.
      </p>
    </div>
    
  </div>
</div>
