{{title "Dog Shelters"}}

<div class="row">
  <div class="col-md-12">
    <h1>Shelters</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    {{#each model as |shelter|}}
      {{shelter-list-item shelter=shelter}}
    {{/each}}
  </div>

</div>
