{{title "Breeds"}}

<div class="row">
  <div class="col-md-12">
    <h2>Breeds</h2>
    <hr />
  </div>
</div>

<div class="row">
  {{#each model as |breed|}}
    <div class="col-md-4">  
      <div class="dog-list-item" style="background-image: url('{{breed.image_url}}')">
        {{#link-to 'breeds.show' breed}}
            <div class="panel panel-primary">
              <div class="panel-heading">
                {{breed.name}}
              </div>
            </div>
        {{/link-to}}
      </div>
    </div>
  {{/each}}
</div>
